body {
    background-color: black;
    text-align: center;
}
.header {
    color: white;
}

.jumbotron {
    background: url("../images/msga.jpg");
}

h1 {
    font-size: 60px;
    text-shadow:2px 2px 2px white;
}
.last-seconds {
    color:red;
    background:yellow;
}
p, h3, #game-time, #remaining-time, #question, #results {
   font-size:25px;
   text-shadow:1px 1px 1px black;
}

